VITE_SANITY_PROJECT_ID=
VITE_SANITY_DATASET=production
VITE_AUTH0_DOMAIN=
VITE_AUTH0_CLIENT_ID=
NETLIFY_SITE_ID=
STRIPE_CONFIG={"secretKey":"","publishableKey":"","webhookSecret":""}
SIMPLE_ANALYTICS_API_KEY=
